<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.fedoraproject.eclipse.packager.packagerCommandContribution">
      <command
            class="org.fedoraproject.eclipse.packager.tests.utils.MockableUploadSourceCommand"
            id="MockableUploadSourceCommand">
      </command>
   </extension>

</plugin>
