<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2010-2011 Red Hat Inc. and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Red Hat Inc. - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.fedoraproject.packager.main?before=org.fedoraproject.eclipse.packager.kojisep">
         <command
               commandId="org.fedoraproject.eclipse.packager.copr.BuildCommand"
               label="%command.label.0"
               mnemonic="%command.mnemonic.0"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.fedoraproject.eclipse.packager.preferences"
            class="org.fedoraproject.eclipse.packager.copr.internal.pref.CoprPreferencePage"
            id="org.fedoraproject.eclipse.packager.preferences.copr"
            name="Copr">
      </page>
   </extension>
   <!-- Keyboard shortcut definitions -->

</plugin>
